* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(100deg, rgb(88, 0, 88), rgb(7, 1, 53));
  color: rgb(255, 255, 255);
  font-family: Georgia, "Times New Roman", Times, serif;
  min-height: 100vh;
}

header {
  font-size: 1.5rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}

form button:hover {
  background: black;
  color: red;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-list {
  min-width: 30%;
  list-style: none;
}
.todo {
  margin: 0 rem;
  background: white;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all0.5s ease;
}
.todo li {
  flex: 1;
}
.trash-btn,
.complete-btn {
  background: white;
  color: black;
  pad: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.complete-btn {
  background: greenyellow;
}
.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
    pointer-events: none;
}